*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
img{
    opacity: 0;
}
/*»¬ÆÁ*/
.pageUp{
    transform: translateY(-100%);
}
.pageDown{
    transform: translateY(100%);
}
.pageLeft{
    transform: translateX(-100%);
}
.pageRight{
    transform: translateX(-100%);
}
.hide{
    display: none !important;
}
.page,.pagezi{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s linear;
    position: absolute;
    top: 0;
    left: 0;
}
.page_1{
    background: #083846;
    z-index: 999;
}
.page_1 img:first-child{
    width: 5rem;
    margin: 0.2rem auto 0.8rem;
    display: block;
    transform: translateY(-200px);
    opacity: 1;
}
.page_1 img:nth-of-type(2){
    width: 3.69rem;
    display: block;
    margin: 0 auto 0.5rem;
    transform: translateX(-200px);
    opacity: 1;
}
.huadong{
    width: 0.6rem;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0;
    position: fixed;
    left: -0.3rem;
    bottom: 0.8rem;
    margin-left: 50%;
}
.page_2{
    background: #9261bf;
    z-index: 99;
}
.page_2 .pagezi_1{
    z-index: 99;
}
.page_2 .pagezi_1 img:first-child{
    width: 3.17rem;
    margin: 0.4rem auto;
    display: block;
    transform: translateY(4rem);
}
.page_2 .pagezi_1 .java{
    position: relative;
}
.page_2 .pagezi_1 .java img:first-child{
    width: 4.81rem;
    margin: 1.8rem auto;
    display: block;
    transform: translateY(-4rem);
}
.page_2 .pagezi_1 .java img:nth-of-type(2){
    width: 4.82rem;
    position: absolute;
    top: 0.7rem;
    left: -2.8rem;
    margin-left: 50%;
    z-index: 99;
    transform: translateX(-4rem);
}
.page_2 .pagezi_2 img:nth-of-type(1){
    width: 5.87rem;
    height: 7.14rem;
    margin: 1rem auto 1.5rem;
    display: block;
}
.page_2 .pagezi_2 img:nth-of-type(2){
    margin: 0 auto;
    display: block;
    width: 5.2rem;
    height: 0.88rem;
}

.page_3{
    background: orangered;
    z-index: 98;
}
.page_3 .pagezi_1 img:first-child{
    width: 3.17rem;
    margin: 0.4rem auto;
    display: block;
    transform: translateY(4rem);
}
.page_3 .pagezi_1 .java{
    position: relative;
}
.page_3 .pagezi_1 .java img:first-child{
    width: 5.1rem;
    height: 4.81rem;
    margin: 1.8rem auto;
    display: block;
    transform: translateY(-4rem);
}
.page_3 .pagezi_1 .java img:nth-of-type(2){
    width: 3.45rem;
    height: 5.29rem;
    position: absolute;
    top:0;
    left: -0.8rem;
    margin-left: 50%;
    z-index: 99;
    transform: translateX(-4rem);
}
.page_3 .pagezi_1 .java img:nth-of-type(3){
    width: 4.96rem;
    height: 2.81em;
    position: absolute;
    top: 1.5rem;
    left: -2.5rem;
    margin-left: 50%;
    z-index: 99;
    transform: translateX(-4rem);
}
.page_3 .pagezi_1 .chakan{
    width: 2.84rem;
    height: 0.33rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.page_3 .pagezi_2 img:nth-of-type(1){
    width: 5.87rem;
    height: 7.14rem;
    margin: 1rem auto 1.5rem;
    display: block;
}
.page_3 .pagezi_2 img:nth-of-type(2){
    margin: 0 auto;
    display: block;
    width: 5.2rem;
    height: 0.88rem;
}


.page_4{
    background: goldenrod;
    z-index: 95;
}
.page_4 .pagezi_1 img:first-child{
    width: 3.17rem;
    margin: 0.4rem auto;
    display: block;
    transform: translateY(4rem);
}
.page_4 .pagezi_1 .java{
    position: relative;
    margin-top: -1rem;
}
.page_4 .pagezi_1 .java img:first-child{
    width: 5.06rem;
    height: 5.06rem;
    margin: 1.8rem auto;
    display: block;
    transform: translateY(-4rem);
}
.page_4 .pagezi_1 .java img:nth-of-type(2){
    width: 3.22rem;
    height: 4.29rem;
    position: absolute;
    top:0;
    left: -1.7rem;
    margin-left: 50%;
    z-index: 99;
    transform: translateX(-4rem);
}
.page_4 .pagezi_1 .java img:nth-of-type(3){
    width: 5.43rem;
    height: 3.74em;
    position: absolute;
    top: 0.7rem;
    left: -2.8rem;
    margin-left: 50%;
    z-index: 99;
    transform: translateX(-4rem);
}
.page_4 .pagezi_1 .chakan{
    width: 2.84rem;
    height: 0.33rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.page_4 .pagezi_1 .dizuo{
    width: 3.38rem;
    height: 0.5rem;
    position: absolute;
    bottom: 2.8rem;
    left: 1.8rem;
}
.page_4 .pagezi_2 img:nth-of-type(1){
    width: 5.87rem;
    height: 7.14rem;
    margin: 1rem auto 1.5rem;
    display: block;
}
.page_4 .pagezi_2 img:nth-of-type(2){
    margin: 0 auto;
    display: block;
    width: 5.2rem;
    height: 0.88rem;
}

.page_5{
    background: #083846;
    z-index: 90;
}
.page_5 .java{
    position: relative;
    margin-top: -1rem;
}
.page_5 .java img:first-child{
    width: 5.63rem;
    height: 4.86rem;
    margin: 3rem auto;
    display: block;
    transform: translateY(-4rem);
}
.page_5 .java img:nth-of-type(2){
    width: 5.2rem;
    height: 0.88rem;
    position: absolute;
    bottom: -3rem;
    left: -2.8rem;
    margin-left: 50%;
    z-index: 99;
    transform: translateX(-4rem);
}

















